.page-footer {
	text-align: center;
    font-size: 14px;
    background: #f8f9fa;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem 0 1rem 0;
    footer {
    	p {
    		margin: 0;
    	}
    }
}