nav.custom-headers {
	.url-links {
		position: absolute;
		right: 0;
	}
	.dropdown-menu {
		right: 5px;
    	left: auto;
    	padding: 0;
    	.dropdown-item {
    		padding: 0.5rem 0.5rem;
    		cursor: pointer;
            &.has-border {
                border-bottom: 1px solid #e9ecef;
            }
    	}
        .dropdown-divider {
            margin: 2px 0;
        }
	}
}